In [1]:
num = (1,2,3,4)
print(num)
print(type(num))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
a = 1,2,3,4
print(a)
#tuple packing

(1, 2, 3, 4)

In [3]:
w, x, y, z = a
print(w,x,y,z)
first, *rest=a
print(first, rest)
#tuple unpacking

1 2 3 4
1 [2, 3, 4]

In [4]:
fname, lname = 'Aditya Gupta'.split()
print(fname, lname)

Aditya Gupta

In [5]:
x = ('apple','cherry','banana','cherry','apple')
print(x.count('apple'))
print(x.count('cherry'))

2
2

In [6]:
a = {4,3,5,6,4,3,2,4} #sets
print(a)

{2, 3, 4, 5, 6}

In [7]:
b = set() #empty set
b.add('apple')
b.add('banana')
b.add('grape')
b.add('cherry')
b.add('orange')
b.update({'lichi', 'watermelon'}) #add multiple value to set
print(b)

{'grape', 'banana', 'cherry', 'orange', 'watermelon', 'lichi', 'apple'}

In [9]:
b.discard('orange') #to remove
print(b)

{'grape', 'banana', 'cherry', 'watermelon', 'lichi', 'apple'}

set operation

In [11]:
a = {1,2,3,4}
b = {3,4,8,9,6,7}

a.union(b)

{1, 2, 3, 4, 6, 7, 8, 9}

In [12]:
a.intersection(b)

{3, 4}

In [13]:
a.difference(b)

{1, 2}

In [14]:
a.symmetric_difference(b)

{1, 2, 6, 7, 8, 9}